@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
 
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 1px 0;
    border-bottom: 1px solid #ccc;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content h3 {
    margin: 0;
}

.header-content button {
    padding: 0.5px 1px;
    border: 1px solid #333;
    background-color: #fff;
    cursor: pointer;
}
/* main part */

.banner-container {
     background-image: url("../assets/Hero-bg.png");  
    color: #333;
    text-align: center;
    padding: 30px 220px;
    padding-bottom: 44px;
    
    
}
 
.banner-container img {
    width: 240.28px;
height: 240px;

}

.banner-container> h1 {
    font-size: 48px;
font-weight: 800;

text-align: center;
}

.banner-container > p {
    font-size: 1px;
    text-align: center;
    font-size: 16px;
font-weight: 400;
}

.banner-container button {
    padding: 1px 2px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 20px;
}
.contact
{
    border-radius: 8px;

background: rgb(13, 19, 33);
width: 208px;
height: 66px;
font-size: 20px;
font-weight: 600;
}

/* web head */
.web-head
{
    text-align: center;
}
.webb{
    font-size: 32px;
    font-weight: 800;
}
.webb-des
{   
    padding-top: 24px;
    font-size: 16px;
font-weight: 400;
}
 
 
.ps
{
    text-align: center;
}


.webdev {
    background-color: rgba(13, 19, 33, 0.02);
    padding: 50px 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 80px 97px 80px 97px;
}

.webdev h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cards, .targets {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.card, .target {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}


.card img, .target img {
    max-width: 100px;
    margin-bottom: 10px;
}

.card button,.target button {
    padding: 0.5em 1em;
    border: 1px solid #333;
    background-color: #fff;
    cursor: pointer;
}
.container {
     
    margin: auto;
    overflow: hidden;
}
/* .card-content1 */
/* {
    width: 850px;
/* height: 240px; */
.card-content1
{
 
position: static;
width: 946px;
height: 336px;
 
 display: block;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;

}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

p {
    text-align: center;
    color: #777;
    margin-bottom: 40px;
}

.card {
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100px;
    margin-bottom: 20px;
}

.card h2 {
    margin: 20px 0;
    color: #333;
}

.card p {
    color: #777;
}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.video-container {
    display: flex;
    justify-content: center;
}
